.todo__main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.todo_button{
    background: deepskyblue;
    border: 0px;
    padding: 0.3em 0.6em;
    margin-left: 3px;
    font-weight:600
}
.todo_input{
    padding: 3px !important;
    width: 300px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 50%;
  }

  tr,th, td {
 border:1px solid black
    
  }

  .table_todo{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}